.App{
  background-color: rgb(171, 166, 160);


 text-align: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  min-height: 100vh;}
  .App h1 {
  font-size: 32px;
  color: #e1dede;
  margin-bottom: 20px;
}
.pizza-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.pizza-card {
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.pizza-card img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}
.pizza-card h2 {
  margin: 10px 0 5px;
  font-size: 22px;
  color: #444;
}
.pizza-card p {
  margin: 0;
  color: #777;
}
.pizza-card .price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #d35400;
}