
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #e5dbdb;
}

.App {
  min-height: 100vh;
  text-align: center;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #de7a08;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
}

.pizza-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}


.pizza-card {
  width: 250px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  text-align: left;
  transition: transform 0.2s;
  list-style: none;
}
.pizza-card:hover {
  transform: translateY(-5px);
}
.pizza-card img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}


.pizza-card h2 {
  font-size: 20px;
  color: #333;
  margin: 5px 0;
}

.pizza-card p {
  font-size: 14px;
  color: #777;
}

.pizza-card .price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #d35400;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  margin-top: auto;
  font-size: 14px;
}
.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}
.p{
  font-style: italic;
  font-weight: bold;
}
.sold-out{
   background-color: #ccc;      /* Grey background */
  opacity: 0.6;                /* Light fade look */
  pointer-events: none;
}